<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ATS</title>
<!--    <link rel="stylesheet" th:href="@{/css/main.3b71cc2a.css}">-->
</head>
<body>
인덱스 페이지
<!-- React Root Element -->
<!--<div id="root"></div>-->
<!-- React build된JS 파일 로드 -->
<!--<script th:src="@{/js/453.3992c8da.chunk.js}"></script>-->
<!--<script th:src="@{/js/main.4cd9b093.js}"></script>-->
</body>
</html>